.you
{
 width: 97%;
 height: 879px;
 border: 29px solid  transparent;
 border-image: linear-gradient(to bottom,#BE7A25,#b35900,#96723A,#A37C3F,#AB986B);
 border-image-slice: 1;
 background-image: linear-gradient( to right ,#f2f2f2 0%, #f2f2f2 49% , #fff 49% , #fff 100%);

}
.pop img{
position: relative;
left: 748px;
bottom: 254px;
cursor: pointer;

}
.HOLD h2{
    position: relative;
    left: 672px;
    top: -33px;
    width:100px;
    font-family: 'Cormorant Garamond', serif;
    font-size: 30px;


}
.HOLD img{
  position: relative;
  left: 790px;
  bottom: -37px;
  cursor: pointer;
  width: 40px;

}
.ROLLDICE h1{
  position: relative;
  left: 6px;
  top: 93px;
  font-family: 'Cormorant Garamond', serif;

}
.ROLLDICE img{
  position: relative;
  left: 820px;
  bottom: -280px;
  cursor: pointer;
  width: 30px;

}

body h1{
  text-align: center;
  margin-top: 80px;
}
body h2{
  font-size: 50px;
  margin-left: 200px;
  margin-top: 100px;
}
body h3{
  font-size: 50px;
  margin-left: 77%;
  margin-top: -100px;
}
body{
  margin: 0;
  padding: 0;
}
